.products__info__title {
  text-align: center;
  background: seashell;
}
.products__info__page {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  padding: 50px 200px;
  flex-direction: column;
  background: seashell;
}

.products__info__page img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}
.products__info__description {
  font-size: 22px;
}

@media (max-width: 726px) {
  .products__info__page {
    padding: 50px 70px;
  }
  .products__info__description {
    font-size: 20px;
  }
}
@media (max-width: 435px) {
  .products__info__page {
    padding: 50px 50px;
  }
  .products__info__description {
    font-size: 18px;
  }
}
